<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://apps-static.flock.co/js-sdk/0.1.0/flock.js"></script>
        <script src="js/constants.js"></script>
        <script src="js/sendAjaxRequest.js"></script>
        <script src="js/createApproval.js"></script>
    <body>
        Enter the amount:
    </body>
    <br/>
    <br/>
    <input type="number" id="amount" min="0">
    <br/>
    <br/>
    <br/>
    <button id="submit" type="button">Submit</button>
</html>