<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="js/pure-min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://apps-static.flock.co/js-sdk/0.1.0/flock.js"></script>
    <body>
    <div id ="details" >
    <h1>Bill details</h1>
    <ul>
           <li>Bill id : {{bill.id}}</li>
           <li> Status : {{bill.status}}  </li>
           <li> Amount :  {{bill.amount}}  </li>
           <li> Approver : {{bill.approverName}}  </li>
           <li> Creation Date :  {{bill.creationDate}}  </li>
           </ul>
    </div>

    </body>
</html>